.blog_header{
    display: flex;
    justify-content: space-between;
}

.blog_card{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.card{
    width: 400px !important;
    border-radius: 30px !important;
}

.card img{
    border-radius: 30px !important;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.card img {
    border-radius: 30px;
    width: 100%;
    display: block;
    transition: 0.4s ease;
}


.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background 0.4s ease;
}

.card:hover::after {
    background: rgba(255, 255, 255, 0.4);
}