.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.why_choose_content {
    height: 500px;
}
/* Grid area explanation:
   grid-area: row-start / column-start / row-end / column-end;
*/

.div1 {
    /* div1 will start at row 1, column 2 
       and end at row 2, column 3 */
    grid-area: 1 / 2 / 2 / 3;
}

.div2 {
    /* div2 will start at row 1, column 1 
       and end at row 2, column 2 */
    grid-area: 1 / 1 / 2 / 2;
}

.div3 {
    /* div3 will start at row 2, column 1 
       and end at row 3, column 2 */
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    /* div4 will start at row 2, column 2 
       and end at row 3, column 3 */
    grid-area: 2 / 2 / 3 / 3;
}

.why_choose_content h2{
    color: #2f2f2f;
}


.why_choose_content p{
    color: #6a6a6a;
    
}

.card{
    border: none;
}

.card_circle{
    width: 33px;
    height: 33px;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    position: relative;
    bottom: 27px;
    left: 20px;
}

.card-title{
font-size: 16px;
    color: #2f2f2f
}

#card_img{
    width: 50px;
    height: 40px;
}

#card_para{
    width: 200px;
}

.why_choose_big_img{
    border-radius: 20px;
    position: relative;
    bottom: 130px;
    left: 130px;
    width: 550px;
}

.modern_interior{
    padding-top: 0px;
}

.background_layer{
    width: 98px;
    height: 98px;
    background-color: #dce5e4;
    border-radius: 20px;
}

#modern_interior_card{
    display: flex;
   
}

.modern_interior_cards{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.modern_interior_card{
    display: flex;
    gap: 10px;
}

.images img{
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 110px;
}

.content h3{
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
}
.content p{
    font-size: 14px;
    color: #6a6a6a;
    font-family: sans-serif;
}

.content a{
    text-decoration: none;
        color: #2f2f2f;
}

.modern_interior img:nth-child(1){
    width: 500px;
    height: 500px;
   
}

.modern_interior img:nth-child(2) {
    width: 200px;
    height: 200px;
    position: relative;
    left: 540px;
    bottom: 500px;
}

.modern_interior img:nth-child(3) {
    width: 400px;
    height: 400px;
    position: relative;
    left: 350px;
    bottom: 470px;
}

.modern_interior img:nth-child(4) {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 1200px;
    right:80px;
}

.modern_interior img{
    border-radius: 20px;
   
}

.modern_interior_content p{
        font-family: "Inter", sans-serif;
            font-weight: 400;
            line-height: 28px;
            color: #6a6a6a;
            font-size: 16px;
            
}